<!DOCTYPE html>
<html lang='es'>
<head>
<meta charset='utf-8'>
<title>Optica Lupita - {% block titulo %}{% endblock %}</title>
<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">-->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.css">


<link rel="shortcut icon" href="{{STATIC_URL}}img/cuchara.png">
{% block style_css %}{% endblock %}
<script src='{{STATIC_URL}}js/jquery.js'></script>
<script src='{{STATIC_URL}}bootstrap/js/bootstrap.js'></script>

</head>
<body>
	<header>
		{% block encabezado %} {% endblock %}
		<div><span class="badge pull-right" class=''><label>Bienvenido:</label> {{user.username}}
			{% if user.is_authenticated %}
    			<a href='/cerrar'>Cerrar Sesion</a></span></div>
			{% endif %}
		

		<nav class='navbar-inverse'>
			<ul class='nav nav-tabs  nav-justified'>
				<li ><a href='/'>Inicio</a></li>
				<li><a href='/productos'>Productos</a></li>
				<li><a href='/cliente'>Clientes</a></li>
				<li><a href='/contacto'>Contacto</a></li>
				<li><a href='/ventas'>ventas</a></li>
			</ul>
		</nav>
		<hr>
	</header>
	<section class = 'contenido'>
		{% block contenido %}{% endblock %}
	</section>
		{% block js %}


		{% endblock %}
	
	<footer>
		<p>Optica Lupita &copy;2014</p>
	</footer>
</body>
</html>