{% extends 'base.html' %}


{% block titulo %} Inicio {% endblock %}

{% block style_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/form_index.css">
{% endblock %}
{% block encabezado %}
	<h1>Inicio  </h1>
{% endblock%}


{% block contenido %}

	
<div class="container">
	<section id="content">
		{% if user.is_authenticated %}
			<h1>Bienvenido</h1> {{user.username}}
			<a href='/cerrar'>Cerrar Sesion</a>
		{% else %}
		<form method="post"> {% csrf_token %}
			<h1>Iniciar Secion</h1>
			<div>
				<input type="text" placeholder="Usuario" name="username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Clave" name="password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="#">Lost your password?</a>
				<a href="/">Register</a>
			</div>
		</form><!-- form -->
		{% endif %}
		<div class="button">
		</div><!-- button -->
	</section><!-- content -->
	
</div><!-- container -->

{% endblock%}