{% extends 'base.html' %}

{% block titulo %} VENTA {% endblock %}
{% block style_css %}
<style> 
	body {
	background: #DCDDDF;
	
}
</style>
{% endblock %}

{% block encabezado %}
	<h1>REALIZAR VENTA</h1>
{% endblock%}

{% block contenido %}
	<form class="form-horizontal" role="form" method ='post' action=''>{% csrf_token %}
		<fieldset>
			<legend>Registro factura</legend>
				{{factura.as_p}}
				<fieldset id='detalle_fac'>
					<legend>Registro detalle</legend>
					{{detallefactura}}</br>
					
				
				</fieldset >
				<input type='button' name='agregar' value='agregar' id='fila' ></br></br>
			<p><input type='submit' value='Confirmar' /></p>
		</fieldset>
	</form>

	<aside id='alerta'>
		{{alerta}}
	</aside>

	<aside id='detalle_producto'>
	
	</aside>





{% endblock %}


{% block js %}

		<script type="text/javascript">

		
		


				var $input = $( "input" );
			
			$('#id_nit').on('keyup', cliente); // cuando se teclea en el campo id, llama a la fucion 
			$('#id_form-0-cantidad').on('keyup', total);
			$('#id_form-1-cantidad').on('keyup', total);
			$('#id_form-2-cantidad').on('keyup', total);
			
			$('#id_form-0-producto').on('change', precio);
			$('#id_form-1-producto').on('change', precio1);
			$('#id_form-2-producto').on('change', precio2);


			//$('#fila').on('click', fila);

			function cliente(){
				var nombre;
				var apellido;
				var direccion;
				var id;
				
	    		var valor = $('#id_nit').val();

	    		$.ajax({

	    			data: {'valor':valor},
	    			url: '/busqueda_cliente',
	    			type:'get',
	    			success: function(data){
	    				nombre=''
	    				apellido=''
	    				direccion=''
	    				id=''
	    				for (var i=0; i<data.length; i++){

	    					//palabra+=data[i].fields.nombre_cliente;
	    					//console.log(data[0].fields.nombre_cliente)
	    				
	    					nombre+=data[i].fields.nombre_cliente;
	    					apellido+=data[i].fields.apellido_cliente;
	    					direccion+=data[i].fields.direccion_cliente;
	    					id+=data[i].fields.pk;

	    					//console.log(data[i]);
						}
						$('#id_nombre').val(nombre);
						$('#id_apellido').val(apellido);
						$('#id_direccion').val(direccion);

	    			}
	    		});




			}


			function total(){
				var cantidad;
				var precio;
				var total;
				
				
	    		cantidad1 = $('#id_form-0-cantidad').val();
	    		precio1 = $('#id_form-0-precio_unidad').val();
	    		total1 =cantidad1*precio1;

				cantidad2 = $('#id_form-1-cantidad').val();
	    		precio2 = $('#id_form-1-precio_unidad').val();
	    		total2 =cantidad2*precio2;

	    		cantidad3 = $('#id_form-2-cantidad').val();
	    		precio3 = $('#id_form-2-precio_unidad').val();
	    		total3 =cantidad3*precio3;

	    		total=total1+total2+total3

	    		$('#id_total_factura').val(total);
	    		

	    		


			}


			function precio(){
				
				var id;
				
	    		var id = $('#id_form-0-producto').val();
	    		
	    		$.ajax({

	    			data: {'id':id},
	    			url: '/busqueda_producto',
	    			type:'get',
	    			success: function(data){
	    				precio=''
	    				existencia=''
	    				descripcion=''
	    				marca=''
	    				html=''

	    				
	    				for (var i=0; i<data.length; i++){

	    					//palabra+=data[i].fields.nombre_cliente;
	    					//console.log(data[0].fields.nombre_cliente)
	    				
	    					precio+=data[i].fields.precio_unidad_producto;
	    					existencia+=data[i].fields.existencia_producto;
	    					descripcion+=data[i].fields.descripcion_producto;
	    					marca+=data[i].fields.marca_producto;
	    					

	    					//console.log(data[i]);
						}
						$('#id_form-0-precio_unidad').val(precio);
						$('#detalle_producto').html('<ul><li><label>Existencia</label>'+existencia+'</li><label>descripcion</label>'+descripcion+'</li><label>marca</label>'+marca+'</li></ul>')
						

	    			}
	    		});

			}



			function precio1(){
				
				var id;
				
	    		var id = $('#id_form-1-producto').val();
	    		
	    		$.ajax({

	    			data: {'id':id},
	    			url: '/busqueda_producto',
	    			type:'get',
	    			success: function(data){
	    				precio=''
	    				existencia=''
	    				descripcion=''
	    				marca=''
	    				html=''

	    				
	    				for (var i=0; i<data.length; i++){

	    					//palabra+=data[i].fields.nombre_cliente;
	    					//console.log(data[0].fields.nombre_cliente)
	    				
	    					precio+=data[i].fields.precio_unidad_producto;
	    					existencia+=data[i].fields.existencia_producto;
	    					descripcion+=data[i].fields.descripcion_producto;
	    					marca+=data[i].fields.marca_producto;
	    					

	    					//console.log(data[i]);
						}
						$('#id_form-1-precio_unidad').val(precio);
						$('#detalle_producto').html('<ul><li><label>Existencia</label>'+existencia+'</li><label>descripcion</label>'+descripcion+'</li><label>marca</label>'+marca+'</li></ul>')
						

	    			}
	    		});

			}


			function precio2(){
				
				var id;
				
	    		var id = $('#id_form-2-producto').val();
	    		
	    		$.ajax({

	    			data: {'id':id},
	    			url: '/busqueda_producto',
	    			type:'get',
	    			success: function(data){
	    				precio=''
	    				existencia=''
	    				descripcion=''
	    				marca=''
	    				html=''

	    				
	    				for (var i=0; i<data.length; i++){

	    					//palabra+=data[i].fields.nombre_cliente;
	    					//console.log(data[0].fields.nombre_cliente)
	    				
	    					precio+=data[i].fields.precio_unidad_producto;
	    					existencia+=data[i].fields.existencia_producto;
	    					descripcion+=data[i].fields.descripcion_producto;
	    					marca+=data[i].fields.marca_producto;
	    					

	    					//console.log(data[i]);
						}
						$('#id_form-2-precio_unidad').val(precio);
						$('#detalle_producto').html('<ul><li><label>Existencia</label>'+existencia+'</li><label>descripcion</label>'+descripcion+'</li><label>marca</label>'+marca+'</li></ul>')
						

	    			}
	    		});

			}

			$('#fila').on('click', fila);
  				var element=1;
			function fila(){
				

				//$('#detalle_fac').append('<label>Producto</label><input type="text" name="producto" ><label>Cantidad</label><input type="text" name="producto" ><label>Precio Unidad</label><input type="text" name="producto" ></br>');
				var id="todos";
				$('#id_form-TOTAL_FORMS').val(element+1);
		
				$.ajax({
					
	    			data: {'id':id},
	    			url: '/busqueda_producto',
	    			type:'get',
	    			success: function(data){
	    				var opciones='';
	    				
	    				
	    				for (var i=0; i<data.length; i++){
	    					opciones=opciones+'<option value='+data[i].fields.pk+'>'+data[i].fields.nombre_producto+'</option>'
	    					}
	    					//palabra+=data[i].fields.nombre_cliente;
	    					//console.log(data[0].fields.nombre_cliente)
	    				console.log(opciones)
	    				$('#detalle_fac').append('<label>Producto</label><select id="id_form-'+element+'-producto" name="form-'+element+'-producto" ><option value="" selected="selected">---------</option>'+opciones+'</select><label>Cantidad</label><input id="id_form-'+element+'-cantidad" name="form-'+element+'-cantidad" type="number" ><label>Precio Unidad</label><input id="id_form-'+element+'-precio_unidad" name="form-'+element+'-precio_unidad" step="0.01" type="number" ></br>');
	    				

	    					//console.log(data[i]);
	    					
						}
						

	    			
	    		});	
				element=element+1;
	    		
	    		
			}
			

				
//<input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="1" />






		</script>
		{% endblock %}


